<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="${applicationId}">
  <application android:name="jp.co.onea.sleeim.unityandroidplugin.main.MyApplication" android:icon="@drawable/app_icon" android:label="@string/app_name" android:theme="@style/UnityThemeSelector" tools:node="replace" tools:replace="android:theme">
    <!-- Android : Native -->
    <!-- MainActivity : for Permission Check -->
    <activity android:name="jp.co.onea.sleeim.unityandroidplugin.main.MainActivity" android:label="@string/app_name" android:hardwareAccelerated="true">
      <intent-filter>
        <!-- 最初に起動するActivityに指定する -->
        <action android:name="android.intent.action.MAIN" />
        <!-- ホームのアイコンから起動可能にする -->
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <!-- for Extends UnityPlayerActivity, UnityPlayerNativeActivity-->
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
    </activity>
    <!-- BluetoothActivity : for Bluetooth Permission Request -->
    <activity android:name="jp.co.onea.sleeim.unityandroidplugin.main.BluetoothActivity">
      <intent-filter>
        <action android:name="androidnativeactions.Bluetooth" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <!-- for Extends UnityPlayerActivity, UnityPlayerNativeActivity-->
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
    </activity>
    <!-- NotificationActivity : for Notification Request -->
    <activity android:name="jp.co.onea.sleeim.unityandroidplugin.main.NotificationActivity" android:launchMode="singleInstance">
      <intent-filter>
        <action android:name="androidnativeactions.Notification" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <!-- for Extends UnityPlayerActivity, UnityPlayerNativeActivity-->
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
    </activity>
    <!-- for Use Servie -->
    <!-- for Use Receiver -->
    <service android:name="jp.co.onea.sleeim.unityandroidplugin.main.BleService" android:stopWithTask="true" android:enabled="true" />
    <receiver android:name="jp.co.onea.sleeim.unityandroidplugin.main.NotificationReceiver">
      <intent-filter>
        <!--定義したactionを追記する-->
        <action android:name="click_notification" />
        <action android:name="delete_notification" />
      </intent-filter>
    </receiver>
  </application>
  <!-- Android : Permission -->
  <!-- 明示的にINTERNETを記載 -->
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- Dangerous Permissions -->
  <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <!-- Normal Permission -->
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission-sdk-28 android:name="android.permission.FOREGROUND_SERVICE" />
  <!-- Android : for Google Play Store -->
  <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
</manifest>